:root {
  --primaryColor: #577d86;
  --backgroundColor: #b9eddd;
  --titleColor: #210062;
  --myTitleFont: "Dancing Scipt", curive;
  --defaultTextFont: "Lato", sans-serif;
  --fontdefaultHeading: "Montserrat", sans-serif;
}

body {
  margin: 0px;
  color: var(--primaryColor);
}
h2 {
  font-family: var(--fontDefaultHeading);
  margin: 0;
  font-size: 2rem; /* 1em = 16px */
  padding-bottom: 20px;
  text-align: center;
}

h3 {
  text-align: center;
  margin-bottom: 40px;
}

hr {
  margin-top: 100px;
  margin-bottom: 100px;
  border: dotted var(--backgroundColor) 5px;
  border-bottom: none;
  width: 5%;
}

.top-section {
  color: var(--primaryColor);
  background-color: var(--backgroundColor);
  height: 500px;
  text-align: center;
}
.middle-section {
  text-align: center;
  width: 75%;
  margin-left: 180px;
  margin-right: 10px;
}

.heading-group {
  display: inline-block;
  margin: 100px;
}

.heading {
  color: var(--titleColor);
  font-family: var(--myTitleFont);
  margin: 0;
}

.bio {
  font-family: var(--fontdefaultHeading);
  margin: 0;
  font-size: 0.75em; /* 1em = 16px */
  padding-bottom: 20px;
}

.top-cloud {
  position: absolute;
  margin-block-start: 120px;
  margin-left: 450px;
  width: 170px;
}

.bottom-cloud {
  position: absolute;
  margin-block-start: 50px;
  margin-left: 650px;
  width: 170px;
}

.mountain {
  width: 750px;
  height: 400px;
}
.profile-pic {
  border-radius: 150px;
  width: 200px;
  margin: 100px auto 50px auto; /* TRBL */
  display: block;
}
.cld1 {
  position: absolute;
}
.intro {
  width: 50%;
  margin: auto;
  line-height: 2;
}
.lay {
  width: 180px;
}
.code {
  width: 180px;
}

.bottom-section {
  margin: 0px auto;
  padding: 80px auto;
  text-align: center;
  background-color: var(--primaryColor);
}

.contact {
  background-color: var(--primaryColor);
  font-size: 1.75rem;
  padding: 10px 20px;
  border-radius: 15px;
  margin-left: 740px;
  /* align-content: center; */
  /* margin-block-end: 170px; */
}

.contact:hover {
  background-color: var(--primaryAccentColor);
}

.social {
  margin: 0px 40px;
}

.social-link {
  margin: 0 40px;
}

.social-link:hover {
  color: var(--backgroundColor);
}

.copyright {
  margin: 0;
  padding-bottom: 40px;
  color: white;
  font-size: 0.75rem;
}

.con{
  margin-bottom: 60px;
}
/*
font-family: 'Dancing Script', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
