body {
  background-color: #ff55bb;
  text-align: center;
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
}

.main {
  display: flex;
  column-gap: 40px;
  padding: 42px;
}
.cont {
  background-color: aliceblue;
  height:auto;
  width: auto;
  padding: 20px;
  /* font-size: 29px; */
  /* font-style: italic; */
  border-radius: 11px;
}

.head {
  text-transform: uppercase;
  border-bottom: 1px solid;
  /* box-shadow: 0px 5px 5px black; */
  margin-top: 0px;
  padding: 30px;
  border-radius: 11px 11px 0px 0px;
  font-size: 26px;
}

.hd_na {
  color: #ffd3a3;
}



.a {
  text-align: center;
  font-size: 22px;
  padding: 20px;
  color: #b6eafa;
}

.b {
  font-size: 66px;
  /* position: absolute; */
  /* display: inline-block; */
}
.c {
  display: flex;
  position: absolute;
  font-size: 34px;
  margin-left: 52px;
  margin-top: 5px;
  color: #b6eafa;
}

.d {
  margin-left: 165px;
  position: absolute;
  margin-top: 52px;
}
.bc {
  font-family: "Roboto";
  display: inline;
  color: #b6eafa;
  padding-top: 10px;
}

.but {
  padding: 20px;
  /* width: 170px; */
}

button {
  width: 200px;
  height: 49px;
  background-color: #ffd95a;
  border-radius: 4px;
}

button:hover {
  background-color: #c07f00;
  box-shadow: 10px 10px 5px #aaaaaaaa;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #ffd95a;
}
li {
  padding-left: 20px;
  padding-bottom: 11px;
  text-align: left;
}
.tick {
  width: 22px;
  color: green;
}
.no {
  width: 22px;
  color: red;
}
.ef {
  color: #4a4a4a80;
}

.cont1 {
  background-color: aliceblue;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 11px;
}
