body {
  background-color: cyan;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.main{
    display: flex;
    column-gap: 40px;
}
.cont {
  background-color: aliceblue;
  height: 500px;
  width: 200px;
  font-size: 29px;
  font-style: italic;
}

.prize{
    width: 100px;
    height: 100px;
    font-style: normal;
    font-size: 32px;
    display: inline;
}


.cont1 {
  background-color: aliceblue;
  height: 500px;
  width: 200px;
  
}
.cont3 {
  background-color: aliceblue;
  height: 500px;
  width: 200px;
}
.cont4 {
  background-color: aliceblue;
  height: 500px;
  width: 200px;
}


